* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $color_primary;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  font-family: consolas;
  animation: animation-title 15s infinite alternate;
  color: $color_secondary;
}

.halftone {
  background-color: $color_primary;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  filter: contrast(150%) saturate(1);
  overflow: hidden;
  transform: translateZ(0);
  & > * {
    filter: brightness(0.5) blur(4px);
    animation: 10s animation-filter infinite alternate;
  }
  &::after {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    background-blend-mode: multiply;
    background: radial-gradient(8px 8px, $color_primary, white),
      radial-gradient(8px 8px, $color_primary, white),
      radial-gradient(8px 8px, $color_primary, white);
    background-size: 8px 8px;
    background-position: 0 -3px, -2px 0, 2px 0;
    mix-blend-mode: screen;
    pointer-events: none;
    transform: rotate(11.25deg);
    transition: 1s ease-in-out transform;
    z-index: 1;
    animation: 10s animation-overlay infinite alternate;
  }

  .img-halftone {
    width: 100%;
  }
}

@keyframes animation-overlay {
  0% {
    transform: rotate(45.25deg) scale(4);
    filter: saturate(0);
  }

  100% {
    transform: rotate(11.25deg);
  }
}

@keyframes animation-filter {
  0% {
    filter: brightness(0.5) blur(40px) saturate(0);
  }

  100% {
    filter: brightness(0.5) blur(4px) saturate(1);
  }
}

@keyframes animation-title {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 428px) {
  .container {
    width: 100vw;
    justify-content: center;
  }

  .halftone {
    &::after {
      content: '';
      position: absolute;
      top: -100%;
      left: -100%;
      right: -100%;
      bottom: -100%;
      background-blend-mode: multiply;
      background: radial-gradient(4px 4px, $color_primary, white),
        radial-gradient(4px 4px, $color_primary, white),
        radial-gradient(4px 4px, $color_primary, white);
      background-size: 4px 4px;
      background-position: 0 -3px, -2px 0, 2px 0;
      mix-blend-mode: screen;
      pointer-events: none;
      transform: rotate(11.25deg);
      transition: 1s ease-in-out transform;
      z-index: 1;
      animation: 10s animation-overlay infinite alternate;
    }
  }

  h1 {
    animation: animation-title 10s infinite alternate;
  }

  @keyframes animation-overlay {
    0% {
      opacity: 0;
      transform: rotate(45.25deg) scale(4);
      filter: saturate(0);
    }

    100% {
      opacity: 1;
      transform: rotate(11.25deg);
    }
  }

  @keyframes animation-filter {
    0% {
      opacity: 0;
      filter: brightness(0.5) blur(40px) saturate(0);
    }

    100% {
      opacity: 1;
      filter: brightness(0.5) blur(2px) saturate(1);
    }
  }
}
